@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */

h1,
h2,
h3 {
  @apply font-serif;
}

/* header */

header {
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1024px) {
  header {
    background-image: url(../images/desktop/image-header.jpg);
  }
}

/* navigation */

.nav-list {
  @apply text-black/50 lg:text-white lg:flex lg:items-center lg:gap-10 fixed inset-y-40 inset-x-6 md:inset-x-40 lg:static bg-white lg:bg-transparent hidden z-[1];
}
.nav-list.active {
  @apply flex flex-col justify-center gap-5 lg:flex-row;
}

/* hamburger */
.line {
  @apply bg-white h-px w-7 block my-2 duration-300;
}
.hamburger.active .line1 {
  @apply translate-y-9px rotate-45;
}
.hamburger.active .line3 {
  @apply -translate-y-9px -rotate-45;
}
.hamburger.active .line2 {
  @apply opacity-0;
}
body.active {
  @apply h-full overflow-y-hidden lg:overflow-auto;
}

.contact-btn {
  @apply lg:bg-white lg:text-black lg:hover:bg-white/50 bg-yellow hover:bg-yellow/70 rounded-full px-1 py-4 max-w-fit px-4 uppercase font-serif;
}

/* sections  */

.about > * {
  @apply w-full;
}

/* section 2 */
.bg-text-wrapper-1 {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}
.bg-text-wrapper-2 {
  background-image: url(../images/desktop/image-photography.jpg);
}
